TZ=America/Mexico_City
PORT=4002
NODE_ENV=development

### DB ###
DB_HOST=127.0.0.1
DB_USERNAME=postgres
DB_PASSWORD=123
DB_NAME=desarrollo_hada_dev
DB_PORT=5432

### DB HALLAZGOS ###
HALLAZGOS_DB_HOST=127.0.0.1
HALLAZGOS_DB_USERNAME=postgres
HALLAZGOS_DB_PASSWORD=123
HALLAZGOS_DB_NAME=hallazgos_dev
HALLAZGOS_DB_PORT=5432

### FIRST USER SEED ###
SEED_FIRST_USER_NAME=Administrador
SEED_FIRST_USER_EMAIL=admin@hada.local
SEED_FIRST_USER_PASSWORD=ChangeMe123!
SEED_FIRST_USER_CODE=20090

### AUTH ###
AUTH_ACCESS_TOKEN_SECRET=change_this_access_secret_min_20_chars
AUTH_ACCESS_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_TOKEN_SECRET=change_this_refresh_secret_min_20_chars
AUTH_REFRESH_TOKEN_EXPIRES_IN=7d
AUTH_ACCESS_TOKEN_COOKIE_NAME=access_token
AUTH_REFRESH_TOKEN_COOKIE_NAME=refresh_token
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_PATH=/
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax
AUTH_CREDENTIALS_CRYPTO_KEY=change_this_crypto_key